@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: #fff;
  color: #fff;
  justify-content: center;
  display: flex;
  
}

.mobile{
  background-color: black;
  width: 400px;
  height: 650px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.header{
  background-color: #df1717;
  width: 350px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.speaker{
  background-color:  #000;
  width: 60px;
  height: 10px;
}

.camera{
  background-color: #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.screen{
  background-color: #10c2d9;
  width: 350px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.footer{
  background-color: #42df17;
  width: 350px;
  height: 30px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.footer p {
  margin: 0;
  color: #fd0606;
}

.screen-up {
  justify-content: space-between;
  display: flex;
}

.time p{
  margin-right: 230px;
  align-items:start;
  justify-content: right;
  
}

.battery {
  height: 5px;
}

.widgets {
  background-color: #fd0606;
  width: 300px;
  height: 100px;
  margin-top: 30px;
}